

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}


p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}







a {
  color: #4dc47d;
  
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}



.section-title {
  position: relative;
  padding-bottom: 22px;
}



#about, #project,
#team, #contact, footer {
  background: #ffffff;
}

#about,
#team, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}






.custom-navbar {
  margin-bottom: 0;
  background-color: #654dc4;
  background: linear-gradient(right,#654dc4);
  padding: 10px 0;
}



 .custom-navbar .nav li a {
  font-size: 16px;
  font-weight: normal;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px 20px;
  text-transform: uppercase;
}







#home {
  
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  
}




#home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#home video {
  position: fixed;
  
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  
}



#about {
  padding-top: 40px;
  padding-bottom: 150px;
}

.about-info h3 {
  font-size: 18px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;color:black;
}




.project-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  object-fit: contain;
}

.project-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
 
}

.project-info {
  padding: 12em 0;
}


.project-item:hover img {
  transform: scale(1.5);
}

.project-overlay h1 {
  color: #ffffff;
  margin: 0;
}
.project-overlay h3 {
  color: #d9d9d9;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 0;
}





#contact {
  background-color: whitesmoke;
}

#contact-form {
  padding-top: 22px;
}

#contact .text-success,
#contact .text-danger {
  display: none;
  padding: 0 0 5px 20px;
}

#contact .form-control {
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 22px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-color: #5f0505;
}

#contact input {
  height: 55px;
  line-height: 45px;
}

#contact .section-btn {
  margin: 5px 0 0 0;
}

#contact button#cf-submit {
  background: blueviolet;
  
  line-height: 50px;color:white;display: flex;justify-content: center;align-content: center;
}




